body{
	background: #4C9BCD;
}
#slideshow {
	width: 730px;
	height: 450px;
	margin: 20px auto;
	padding: 10px 10px 10px 10px;
	background: url(/resources/throughout/images/img03.jpg) no-repeat center center center center; 
	float: center;
	/* position: relative; */
}
.slide {
	position: relative;
	float: center;
	top: auto;
	bottom : 30px;
	width: auto;
	/* padding: 10px 10px; */
}
img {
	position: absolute;
	float: center;
	width: auto;
	top: auto;
}
/* #foobar {
	position: relative;
} */

/* .next{
	position: absolute;
} */

#foobar .navigation {
	position: absolute;
	display: block;
	z-index: 100;
	color: #ffffff;
	bottom: 0px;
	right: 0px;
	margin: 110px;
	padding: 10px;
	background-color:  #303030;
	opacity: 0.75;
}

#foobar .navigation a {
	color: #ffffff;
	text-decoration: none;
	outline: none;
}

#foobar .viewer {
	width: 726px;
	height: 336px;
}

#foobar .viewer .reel .slide {
	position: relative;
	width: 726px;
	height: 336px;
}

#foobar .viewer .reel .slide span {
	position: absolute;
	display: block;
	width: 726px;
	opacity: 0.30;
	padding: 15px;
	background-color: #FFFFFF;
	color: #000000;
	bottom: 0px;
	left: 0px;
	font-size: 18px;
}


/* #foobar .viewer-wrapper {
	float: left;
	width: 726px;
	height: 336px;
	background: red;
}

.arrow-left {
	background: blue;
	width: 107px;
	float: left;
}

.arrow-right {
	background: green;
	width: 100px;
	float: right;
}  */
<!-- slideShow ½ÃÀÛ-->
 #col1 {
 	display: inline-block;
	width: 107px; 
	float: left;
	/* position: relative; */
}
 
#col1 a {
	outline: none;
	display: inline-block;
	width: 77px;
	height: 210px;
	background: url(/resources/throughout/images/img05.jpg) no-repeat 30px 130px;
	text-decoration: none;
	position: absolute;
	float: left;
}

#col2 {
	position: absolute;
/* 	top: 30px auto; */
	float: left;
	width: 733px;
}

#col3 a {
	float: left;
	outline: none;
	width: 87px;
	height: 210px;
	background: url(/resources/throughout/images/img06.jpg) no-repeat 10px 170px;
	text-decoration: none;
}
